h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
p {
    font-family: 'Roboto', sans-serif;
}

.navbar-resposnsive {
    height: 70px;
    background-color: white;
    box-shadow: 1px 6px 6px -4px rgba(148, 148, 148, 0.596);
    width: 100%;
}

.logo-t724-responsive {
    width: 200px;
    margin-left: 25px;
}

.icon-user-t724-responsive {
    width: 40px;
    margin-right: 25px;
}

.icon-bars-t724-responsive {
    width: 25px;
    margin-right: 20px;
}

.icon-resumen-responsive {
    width: 200px;
}

.height-50 {
    height: 50px;
}

.padding-top-20 {
    padding-top: 20px;
}

.color-red {
    color: #ED2D28;
}

.image-icons-resume {
    width: 130px;
    cursor: pointer;
}

.box-shadow-down {
    box-shadow: 1px 6px 6px -4px rgba(148, 148, 148, 0.596);
    height: 45px;
    padding-left: 26px;
    padding-right: 26px;
}

.button-subnavbar-ventas {
    color: #ED2D28;
    font-style: italic;
    font-weight: 600;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    background-color: white;
    font-size: 17px;
    padding-right: 20px;
    padding-left: 20px;
}

.font-size-14 {
    font-size: 14px;
}

.widht-100 {
    width: 100px;
}

.padding-horizontal-26 {
    padding-left: 26px;
    padding-right: 26px;
}

.color-green {
    color: green;
}

.container-ventas-padding {
    padding-top: 30px;
    padding-bottom: 10px;
    box-shadow: 1px 6px 6px -4px rgba(148, 148, 148, 0.596);
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.font-weight-600 {
    font-weight: 600;
}

.button-grey-ventas {
    color: rgb(163, 163, 163);
    font-style: italic;
    font-weight: 600;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
}

.button-grey-ventas:focus {
    color: black;
    border: 1px solid black;
}

.margin-horizontal-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.padding-horizontal-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-container-buttons {
    padding-top: 40px;
    padding-bottom: 20px;
}

.font-size-10 {
    font-size: 10px;
}

.color-yellow-point {
    color: #FFA21A;
}

.color-green-point {
    color: #94C669;
}

.padding-horizontal-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.scroll-horizontal {
    margin-top: 10px;
}